body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url(images/bg1.jpg);
  background-size: 100% 100%;
  background-position: fixed;
  background-repeat: no-repeat;
  overflow-x: none;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
  border: 5px solid red;
  display: block;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
}
.blinky {
  height:190px;
  width: 160px;
  background-image: url(images/giphy.gif);
  border: none !important;
}
.scary {
  height:200px;
  width: 400px;
  background-image: url(images/shark.gif);
  border: none !important;
}
.groovy {
  height: 190px;
  width:160px;
  background-image: url(images/smooch.gif);
  border: none !important;
}
.flippy {
  transition:all 1s;
}
.hidden {
  display: none !important;
}
#danceFloor {
  display: inline-block;
  margin-top:200px;
  height:700px;
  width:100%;
  max-width:100%;
  max-height:80%;
}