/*font-family: 'Monoton', cursive;
font-family: 'Raleway', sans-serif;*/

body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url(images/bg1.jpg);
  background-size: 100% 100%;
  background-position: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden !important;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title {
  animation-name: flash;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  display: block;
  font-size: 75px;
  font-family: 'Monoton', cursive;
  margin: 50px auto;
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
}
.addDancerButton, #removeAllDancers, #lineDance  {
  float: left;
  padding: 8px 15px;
  font-family: 'Raleway', sans-serif;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid skyblue;
  background-color: rgba(116, 135, 165, 0.5);
}
.addDancerButton:hover, #removeAllDancers:hover, #lineDance:hover {
  background-color: rgba(255, 255, 255, 1.0);
  color: rgb(0, 50, 135);
}

#removeAllDancers, #lineDance {
  float: right;
}
a {
  text-decoration: none;
}
.dancer{
  position:absolute;
  border: 5px solid red;
  display: block;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
}
.blinky {
  height:190px;
  width: 160px;
  background-image: url(images/giphy.gif);
  border: none !important;
}
.scary {
  height:200px;
  width: 400px;
  background-image: url(images/shark.gif);
  border: none !important;
}
.groovy {
  height: 190px;
  width:160px;
  background-image: url(images/smooch.gif);
  border: none !important;
}
.flippy {
  transition:all 1s;
}
.hidden {
  display: none !important;
}
#danceFloor {
  display: inline-block;
  margin-top:200px;
  height:700px;
  width:100%;
  max-width:100%;
  max-height:80%;
  overflow: hidden !important;
}

@keyframes flash {
  0% { 
    color: white;
  }
  25% {
    color: green;
  }
  50% {
    color: red;
  }
  75% {
    color: yellow;
  }
  100% {
    color: white;
  }
}